@import "../helpers/mixin";
@import "../helpers/vars";

.financial-model {
  padding: 80px 0;
  position: relative;

  @include _992 {
    padding: 50px 0;
  }
}

.financial-model__title {
  font-weight: 700;
}

.financial-model__text {
  margin-top: 16px;
  max-width: 803px;

  @include _578 {
    margin-top: 12px;
  }
}

.financial-model__button {
  @include button-mix(#32C192, #169D71, #0F5740);
  padding: 20px 32px;
  margin-top: 32px;

  @include _578 {
    margin-top: 20px;
  }
}

.bg-block__financial-model {
  position: absolute;
  top: 40px;
  right: 100px;
  z-index: -1;

  @include _992 {
    top: -268px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.circle__financial-model {
  width: 441px;
  height: 441px;
  right: 100px;
  top: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @include _992 {
    width: 167px;
    height: 167px;
    box-shadow: 20px 20px 30px rgba(70, 156, 243, 0.02), -20px -20px 30px rgba(236, 236, 236, 0.25), inset 16px 16px 30px rgba(70, 156, 243, 0.03), inset -16px -16px 30px rgba(255, 255, 255, 0.25);
    border: 10px solid #FFFFFF;
    top: 0;
    right: -87px;
  }
}

.circle-gradient__financial-model {
  width: 229px;
  height: 229px;
  background: linear-gradient(135deg, #469CF3 0%, #32C192 100%);
  box-shadow: 20px 20px 30px rgba(70, 156, 243, 0.02), -20px -20px 30px rgba(236, 236, 236, 0.25), inset 16px 16px 30px rgba(70, 156, 243, 0.03), inset -16px -16px 30px rgba(255, 255, 255, 0.25);
  border-radius: 50%;

  @include _992 {
    width: 87px;
    height: 87px;
    background: linear-gradient(135deg, #469CF3 0%, #32C192 100%);
    opacity: 0.5;
    box-shadow: 20px 20px 30px rgba(70, 156, 243, 0.02), -20px -20px 30px rgba(236, 236, 236, 0.25), inset 16px 16px 30px rgba(70, 156, 243, 0.03), inset -16px -16px 30px rgba(255, 255, 255, 0.25);
  }
}

.financial-model__cards {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;

  @include _578 {
    gap: 12px;
    margin-top: 20px;
  }
}

.financial-model__card {
  background: #FFFFFF;
  box-shadow: -4px -4px 16px rgba(236, 236, 236, 0.25), 4px 4px 16px rgba(0, 0, 0, 0.04);
  border-radius: 30px 0;
  max-width: 410px;
  width: 100%;
  min-height: 218px;
  padding: 24px;

  @include _578 {
    min-height: 0;
    padding: 16px;
  }
}

.financial-model__card__content {
  max-width: 362px;
}

.financial-model__card__title {
  color: $blue-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  @include _578 {
    font-size: 16px;
    line-height: 20px;
  }
}

.financial-model__card__text {
  margin-top: 8px;
}