@import "../helpers/mixin";
@import "../helpers/vars";

.main {
  position: relative;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #292D32;
  opacity: 0.2;
  margin-bottom: 10px;

  @include _992 {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
  }
}

.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  margin-bottom: 1em;

  span {
    color: #469CF3;
  }

  @include _992 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1em;
  }
}

.form-button {
  @include button-mix($blue-color, #226BB5, #0E4277);
  display: block;
  margin: 0 auto;
  padding: 20px 32px;

  @include _578 {
    max-width: 343px;
    width: 100%;
  }
}