@import "../helpers/vars";
@import "../helpers/mixin";

.menu {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  z-index: 999;
  background: #FFFFFF;
  transition: 0.3s;


  &.visible {
    transform: translateY(59%);

    @include _1200 {
      transform: translateY(0%);
    }
  }

  &.visible .menu-list {
    li > a {
      opacity: 1;}
  }

  @include _1200 {
    width: 100%;
    height: 100%;
  }
}

.menu-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;

  li>a {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #292D32;
    transition: 0.5s;
    transition-delay: 0.2s;
    opacity: 0;

    &:hover {
      color: $blue-color;
    }
  }

  @include _1200 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  @include _992 {
    font-size: 20px;
    line-height: 25px;
  }
}

