@import "../helpers/mixin";
@import "../helpers/vars";

.responsibility {
  padding: 80px 0;
  position: relative;

  @include _992 {
    padding: 50px 0;
  }
}

.responsibility-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 160px;

  @include _578 {
    gap: 12px;
    margin-bottom: 100px;
  }
}

.responsibility-card {
  padding: 24px;
  background: #F5F7FC;
  box-shadow: -4px -4px 12px rgba(236, 236, 236, 0.08), 4px 4px 12px rgba(0, 0, 0, 0.02);
  border-radius: 30px 0;
  min-height: 261px;
  max-width: 410px;
  width: 100%;

  @include _578 {
    min-height: 0;
    padding: 16px;
  }
}

.responsibility-card__content {
  max-width: 362px;
}

.responsibility-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  @include _578 {
    font-size: 16px;
    line-height: 20px;
  }
}

.responsibility-card__text {
  margin-top: 16px;
  font-size: 18px;

  span {
    font-weight: 700;
  }

  @include _578 {
    margin-top: 12px;
    font-size: 15px;
    line-height: 18px;
  }
}

.responsibility-box {
  background: #F9FAFC;
  border: 2px solid #32C192;
  box-shadow: -2px -2px 6px rgba(236, 236, 236, 0.08), 2px 2px 6px rgba(0, 0, 0, 0.02);
  border-radius: 30px 0;
  padding: 32px;

  @include _992 {
    padding: 20px;
  }
}

.responsibility-box__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  max-width: 1130px;

  span {
    color: #32C192;
  }

  @include _992 {
    font-size: 20px;
    line-height: 25px;
  }
}

.responsibility-box__subtitle {
  margin-top: 16px;

  @include _992 {
    margin-top: 12px;
  }
}

.responsibility-box__list {
  margin-top: 32px;
  column-count: 2;

  li {
    padding-left: 25px;
    margin-bottom: 32px;
    position: relative;

    &:last-child {
      margin: 0;
    }

    span {
      font-weight: 700;
    }

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #32C192;
      left: 8px;
      top: 11px;

      @include _578 {
        left: 3px;
        top: 6px;
      }
    }

    @include _578 {
      padding-left: 15px;
      margin-bottom: 12px;
    }
  }

  @include _992 {
    column-count: 1;
  }
}

.circle__responsibility {
  position: absolute;
  width: 1551px;
  height: 1551px;
  z-index: -1;
  right: -427px;
  top: -200px;
  border-radius: 50%;

  @include _992 {
    width: 917px;
    height: 917px;
    top: auto;
    bottom: 0;
    //transform: translateY(-80%);
  }
}